/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/PKG-INFO
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/codegen/Makefile.in
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/docs/Makefile.in
/docs/reference/entities.docbook
/docs/xsl/fixxref.py
/examples/Makefile.in
/gi/Makefile.in
/gi/overrides/Makefile.in
/gi/repository/Makefile.in
/gio/Makefile.in
/glib/Makefile.in
/gobject/Makefile.in
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/mkinstalldirs
/omf.make
/py-compile
/pygobject-2.0-uninstalled.pc
/pygobject-2.0.pc
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
/xmldocs.make
