/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GIMarshallingTests-1.0.gir
/GIMarshallingTests-1.0.typelib
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Regress-1.0.gir
/Regress-1.0.typelib
/TAGS
/_libs
/gschemas.compiled
/libgimarshallingtests.la
/libregress.la
/so_locations
/tags
/testhelper.la
